<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quick_order>
            <general>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>quick_order_general_email_template</email_template>
            </general>
        </quick_order>
    </default>
</config>
