<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenmagic" translate="label" sortOrder="200">
            <label>Magenmagic</label>
        </tab>
        <section id="quick_order" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Quick Order</label>
            <tab>magenmagic</tab>
            <resource>Magenmagic_OrderByPhone::config</resource>
            <group id="general_quick" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="note_text" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Note Text</label>
                </field>
            </group>
        </section>
    </system>
</config>
